version: '3.8'
services:
  node-app:
    container_name: new-api-dokliplife
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3055:5001"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=production
      - TZ=Asia/Seoul 